<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Form Sample </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit()">
    <ion-list>
      <ion-item fill="solid">
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
        <ion-note slot="helper">Enter a valid First name</ion-note>
        <ion-note slot="error" *ngIf="!registrationForm.controls.firstName.valid && registrationForm.controls.firstName.dirty">Invalid First name</ion-note>
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
        <ion-note slot="helper">Enter a valid Last name</ion-note>
        <ion-note slot="error">Invalid Last name</ion-note>
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
        <ion-note slot="helper">Enter a valid phone number</ion-note>
        <ion-note slot="error">Invalid phone number</ion-note>
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Address</ion-label>
        <ion-textarea  formControlName="address"></ion-textarea>
        <ion-note slot="helper">Enter a valid address</ion-note>
        <ion-note slot="error">Invalid address</ion-note>
      </ion-item>
    </ion-list>

    <ion-button type="submit" [disabled]="!registrationForm.valid" expand="full">Submit</ion-button>
  </form>
  Form Value <br>
  {{registrationForm.value|json}} <br><br>
  Control Value <br>
  Registration Form valid: {{registrationForm.valid|json}} <br><br>
  First Name is Pristine:{{registrationForm.controls.firstName.pristine|json}} <br>
  First Name is Dirty:{{registrationForm.controls.firstName.dirty|json}} <br>
  First Name is Valid:{{registrationForm.controls.firstName.valid|json}} <br>
  First Name is touched:{{registrationForm.controls.firstName.touched|json}} <br><br>

  Last Name is Pristine:{{registrationForm.controls.lastName.pristine|json}} <br>
  Last Name is Dirty:{{registrationForm.controls.lastName.dirty|json}} <br>
  Last Name is Valid:{{registrationForm.controls.lastName.valid|json}} <br>
  Last Name is touched:{{registrationForm.controls.lastName.touched|json}} <br><br>

  Phone is Pristine:{{registrationForm.controls.phone.pristine|json}} <br>
  Phone is Dirty:{{registrationForm.controls.phone.dirty|json}} <br>
  Phone is Valid:{{registrationForm.controls.phone.valid|json}} <br>
  Phone is touched:{{registrationForm.controls.phone.touched|json}} <br>
</ion-content>
