<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddTodo()">
        <ion-icon name="add-outline" slot="end"></ion-icon> Add Todo Sample App 456
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Todo List  </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let todo of todos">
      <ion-label (click)="complete(todo)" [ngClass]="{'strikethrough': todo.todoStatu  === '2'}">{{todo?.item}}</ion-label>
      <ion-icon (click)="deleteTodo(todo)" slot="end" name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="todos.length < 1">
      <ion-label>No Todo List Yet...</ion-label>
    </ion-item>
  </ion-list>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
